* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-weight:bold;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
 box-shadow: 0 10px 10px rgba(0,0,0,0.3);
 background-color:rgba(245, 222, 179, 0.486)!important;
 opacity: 0.7;
 margin: 40px;
 border-radius: 10px;
 padding: 30px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  margin-left: 30px;
}

.col-26 {
  float: LEFT;
  width: 25%;
  margin-top: 6px;
  margin: Auto;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
  margin-left: 30px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h1,h2,h3{text-align:center;}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  padding: 8px;
  text-align: Center;
  border: 1px solid #ddd;
  background-color:green;
  color:white;
}
  body{
    font-family: 'Poppins', sans-serif !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin: 0;
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(
        115deg,
        rgba(245, 237, 164,0.8),
        rgba(235, 247, 132, 0.199)
      ),
      url(http://ssbnc.in/images/ssbn.gif);
    
    background-repeat: no-repeat;
    background-position: center;
}
p{
    text-align: center;
    line-height: normal;
}
h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
}



tr:hover {background-color:#f5f5f5;}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
	
  }
}
form {
  background: var(--color-darkblue-alpha);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}
@media(max-width:480px){
  p{
    margin-top:0;
    margin-bottom:1rem;
  }
}
.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color:rgba(241, 229, 206, 0.404) !important;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, 
  box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
h1{
    font-size: medium;
}
p{
    text-align: center;
    font-size:1.5rem;
    line-height:0.4;
}
.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
label{
  font-weight: 400;
  color:black;
  font-size: medium;
  opacity: 1 !important;
}
